<spectrum-widget-loading widget="widget" ready="ready || widgetOptionsActive"></spectrum-widget-loading>
<div ng-if="ready || widgetOptionsActive">
	<div class="widget-options">
		<a role="button" ng-if="!widgetOptionsActive" ng-click="showWidgetOptions()" id="configure-widget-{{widget.wid}}">
			<i class="glyphicon glyphicon-cog"></i>
		</a>
	</div>
	<div class="collapse" id="widget-configuration-{{widget.wid}}">
		<div class="well">
			<form role="form" name="configEditForm" class="form-horizontal">

				<spectrum-widget-common-options widget="widget" data="data" form="configEditForm"></spectrum-widget-common-options>

				<div class="form-group">
					<label class="col-sm-4 control-label"></label>
					<div class="col-sm-6">
						<button class="btn btn-xs btn-primary" ng-click="saveOptions(configEditForm)"
								id="configure-widget-{{widget.wid}}-save">
							<i class="glyphicon glyphicon-floppy-saved"></i>
							Save
						</button>
						<button class="btn btn-xs" id="btn-cancel-widget-options-{{widget.wid}}" ng-click="cancelOptions()">
							<i class="glyphicon glyphicon-remove"></i>
							Cancel
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<spectrum-table ng-if="ready" id="widget-result-table-{{widget.wid}}"
	                add-actions="addActions"
	                headings="[{name: 'Name'}, {type: 'Type'},{status: 'Status'}, {oauthLinkConfigured: 'Linked'}]"
	                rows="resultTable.rows"
	                order-by-initial="name"
	                orderable-columns="name, type"
	                order-reverse-initial="false"
	                empty-message="No Applications found in Spectrum!"
	                popover-rules="{name: {cutoff: '35', placement: 'right', suffix:'...'}}"
	                filterable-columns="resultTable.filterableColumns"
	                filter-applied="resultTable.filterApplied"
	                update-in-progress="resultTable.updateInProgress"
	                grid-mode={{data.gridMode}}
	                grid-mode-selectable="true"
	                grid-style="widget"
	                grid-colour-column="hexColour"
	                grid-picture-column="pictureType"
	                grid-status-icon-column="statusIcon"
	                grid-text-column="name"
	                picture-columns="['type']">
	</spectrum-table>
</div>