<spectrum-widget-loading widget="widget" ready="ready || widgetOptionsActive"></spectrum-widget-loading>
<div ng-if="data.availableApps.length > 0 && (ready || widgetOptionsActive)" class="confluence-dashboard-widget">
	<div class="widget-options">
		<a role="button" ng-if="!widgetOptionsActive" ng-click="showWidgetOptions()" id="configure-widget-{{widget.wid}}">
			<i class="glyphicon glyphicon-cog"></i>
		</a>
	</div>
	<div class="collapse" id="widget-configuration-{{widget.wid}}">
		<div class="well">
			<form role="form" name="configEditForm" class="form-horizontal">

				<spectrum-widget-common-options widget="widget" data="data" form="configEditForm"></spectrum-widget-common-options>

				<div class="form-group">
					<label for="select-spec-confluence-app-{{widget.wid}}" class="col-sm-4 control-label small">Instance</label>
					<div class="col-sm-6">
						<select id="select-spec-confluence-app-{{widget.wid}}" class="appId form-control input-sm" ng-model="data.chosenApp"
								ng-options="app.optLabel=app.name for app in data.availableApps"
								ng-change="update(false)"></select>
					</div>
				</div>
				<div class="form-group" ng-if="data.method === 'tasks'">
					<label for="widget-config-enable-done-{{widget.wid}}" class="col-sm-4 control-label small">Show Done</label>
					<div class="col-sm-6">
						<input id="widget-config-enable-done-{{widget.wid}}" class="enableTodo input-sm" ng-model="data.enableDone" ng-change="update(false)" type="checkbox" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label"></label>
					<div class="col-sm-6">
						<button class="btn btn-xs btn-primary" ng-click="saveOptions(configEditForm)" id="configure-widget-{{widget.wid}}-save">
							<i class="glyphicon glyphicon-floppy-saved"></i>
							Save
						</button>
						<button class="btn btn-xs" id="btn-cancel-widget-options-{{widget.wid}}" ng-click="cancelOptions()">
							<i class="glyphicon glyphicon-remove"></i>
							Cancel
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<div ng-switch="data.method">
		<div ng-switch-when="notifications">
			<!-- need to come up with a decent ID for this -->
			<spectrum-table id="widget-result-table-{{widget.wid}}" ng-if="ready && !resultTable.updateInProgress"
							headings="[{page: 'Page'},
							           {prettyDetails: 'Details'},
							           {time: ''}
							          ]"
							rows="resultTable.rows"
							orderable-columns="page, details"
							order-by-initial="updated"
							order-reverse-initial="true"
							order-by-initial="updated"
							order-reverse-initial="true"
							empty-message="No results"
							filterable-columns="resultTable.filterableColumns"
							filter-prompt="Search..."
							filter-applied="resultTable.filterApplied"
							popover-rules="{page: {cutoff: '35', placement: 'bottom', suffix: '...'},
										details: {cutoff: '35', placement: 'bottom', suffix: '...'}}"
							update-in-progress="resultTable.updateInProgress"
							row-description-plural="results"
							elements-total-length="resultTable.rows.totalLength">
			</spectrum-table>
		</div>
		<div ng-switch-when="tasks">
			<!-- need to come up with a decent ID for this -->
			<spectrum-table id="widget-result-table-{{widget.wid}}" ng-if="ready && !resultTable.updateInProgress"
							headings="[ {prettyTitle: 'Page'},
							            {prettyDetails: 'Details'}
							          ]"
							rows="resultTable.rows"
							orderable-columns="status, title, details"
							order-by-initial="updated"
							order-reverse-initial="true"
							empty-message="No results"
							filterable-columns="resultTable.filterableColumns"
							filter-prompt="Search..."
							filter-applied="resultTable.filterApplied"
							popover-rules="{title: {cutoff: '30', placement: 'right', suffix: '...'},
										details: {cutoff: '30', placement: 'left', suffix: '...'}}"
							update-in-progress="resultTable.updateInProgress"
							row-description-plural="results"
                            checkable-columns="true"
							elements-total-length="resultTable.rows.totalLength">
			</spectrum-table>
		</div>
	</div>
</div>
<div ng-if="ready && data.availableApps.length === 0">
	<h2>{{appType}} is not available</h2>
	<hr />
	<p>
		Please ask your administrator to either add {{appType}} to Spectrum,
		or to create an application link to an existing {{appType}}
	</p>
</div>
