<spectrum-widget-loading widget="widget" ready="ready || widgetOptionsActive"></spectrum-widget-loading>
<div ng-if="data.availableApps.length > 0 && (ready || widgetOptionsActive)">
	<div class="widget-options">
		<a role="button" ng-if="!widgetOptionsActive" ng-click="showWidgetOptions()" id="configure-widget-{{widget.wid}}">
			<i class="glyphicon glyphicon-cog"></i>
		</a>
	</div>
	<div class="collapse" id="widget-configuration-{{widget.wid}}">
		<div class="well">
			<form role="form" name="configEditForm" class="form-horizontal">
				<spectrum-widget-common-options widget="widget" data="data" form="configEditForm"></spectrum-widget-common-options>

				<div class="form-group">
					<label for="select-spec-jira-app-{{widget.wid}}" class="col-sm-4 control-label small">Instance</label>
					<div class="col-sm-6">
						<select id="select-spec-jira-app-{{widget.wid}}" class="appId form-control input-sm" ng-model="data.chosenApp"
								ng-options="app.optLabel=app.name for app in data.availableApps"
								ng-change="getBoardList(false)"></select>
					</div>
				</div>


				<div class="form-group">
					<label for="select-spec-jira-app-{{widget.wid}}" class="col-sm-4 control-label small">Board</label>
					<div class="col-sm-6">

						<ui-select ng-model="data.chosenBoard" theme="bootstrap" title="Choose a Board" class="ui-select-custom" >
							<ui-select-match placeholder="Select a board in the list or search with Name...">{{$select.selected.name}}</ui-select-match>
							<ui-select-choices repeat="board in data.boardList | propsFilter: {name: $select.search}">
								<div ng-bind-html="board.name | highlight: $select.search"></div>
							</ui-select-choices>
						</ui-select>

					</div>
				</div>


				<div class="form-group">
					<label for="select-spec-jira-board-columns-{{widget.wid}}" class="col-sm-4 control-label small">Column</label>
					<div class="col-sm-6">
						<select id="select-spec-jira-board-columns-{{widget.wid}}" class="columnId form-control input-sm" ng-model="data.chosenColumn"
								ng-options="column.optLabel=column.name for column in data.boardColumns" ng-change="update(false)">
							<option value="" ng-if="data.boardColumns.length == 0">-- No board columns --</option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<label class="col-sm-4 control-label"></label>
					<div class="col-sm-6">
						<button class="btn btn-xs btn-primary {{data.boardColumns.length == 0 ? 'disabled' : ''}}"
						        ng-click="saveOptions(configEditForm)" id="configure-widget-{{widget.wid}}-save">
							<i class="glyphicon glyphicon-floppy-saved"></i>
							Save
						</button>
						<button class="btn btn-xs" id="btn-cancel-widget-options-{{widget.wid}}" ng-click="cancelOptions()">
							<i class="glyphicon glyphicon-remove"></i>
							Cancel
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>


	<spectrum-comments widget="widget" comments="comments"></spectrum-comments>
	<spectrum-table ng-if="ready" id="widget-result-table-{{widget.wid}}"
					headings="[
							   {icon: ''},
							   {key: 'Key'},
							   {name: 'Name'},
							   {assignedImage: 'Owner'},
							   {status: 'Status'},
							   {project: 'Project'}
							   ]"
					rows="resultTable.rows"
					order-by-initial="key"
					orderable-columns="key, name, status, project"
					empty-message="No results"
					popover-rules="{name: {cutoff: '20', placement: 'bottom', suffix: '...'},
									project: {cutoff: '10', placement: 'bottom', suffix: '...'},
									status: {cutoff: '11', placement: 'bottom', suffix: '...'},
									description: {cutoff: '45', placement: 'bottom', suffix: '...'}}"
					update-in-progress="resultTable.updateInProgress"
					row-description-plural="results"
					image-columns="['icon', 'statusIcon', 'projectIcon', 'priorityIcon', 'assignedImage']"
					elements-total-length="resultTable.rows.totalLength">
	</spectrum-table>
</div>
<div ng-if="ready && data.availableApps.length === 0">
	<h2>{{appType}} is not available</h2>
	<hr />
	<p>
		Please ask your administrator to either add {{appType}} to Spectrum,
		or to create an application link to an existing {{appType}}
	</p>
</div>
