<spectrum-widget-loading widget="widget" ready="ready||widgetOptionsActive"></spectrum-widget-loading>
<div ng-if="ready || widgetOptionsActive">
    <div class="widget-options" ng-if="widget.id !== undefined">
        <a role="button" ng-if="!widgetOptionsActive" id="configure-widget-{{widget.id}}" ng-click="showWidgetConfigModal()">
            <i class="glyphicon glyphicon-cog"></i>
        </a>
    </div>

    <div style="postion: relative; float: left; width: 100%;">

        <div ng-if="errorStatus !== null && (errorStatus === 404 || errorStatus === 500)" class="spec-help-class ng-scope alert alert-warning" id="info-spec-{{widget.id}}-notfound-message">
            <span class="glyphicon glyphicon-warning-sign"></span>
            NexusIQ cannot be found or it's not configured. Please configure Nexus or contact an Administrator
        </div>

        <div ng-if="errorStatus !== null && errorStatus === 401" class="spec-help-class ng-scope alert alert-warning" id="info-spec-{{widget.id}}-unauthorised-message">
            <span class="glyphicon glyphicon-warning-sign"></span>
            NexusIQ cannot validate your credentials. Please navigate to the <a href="account">Account</a> page and configure your credentials.
        </div>

        <div ng-if="!hasResults" class="spec-help-class ng-scope alert alert-info" id="info-spec-{{widget.id}}-empty-message">
            <span class="glyphicon glyphicon-info-sign"></span>
            No Results
        </div>


        <div class="nexus-policy-data" ng-repeat="policy in nexusPolicyData" ng-if="hasResults">
            <div class="row row-special"  ng-if="policy.stages.length > 0">
                <h5 class="label nexus-policy-{{policy.label}}">{{policy.name}} : {{policy.highestThreatLevel}}</h5>
                <li ng-repeat="stage in policy.stages" class="list-unstyled nexus-policy-stages">
                    <span class="nexus-policy-hover-{{widget.id}}"
                        data-policyid="{{policy.id}}"
                        data-stagename="{{stage.name}}">{{stage.name}} - {{stage.violations.length}}</span>
                </li>
            </div>
        </div>

        <!--{{showConfigModal}}-->
        <div class="modal" id="widget-modal-{{widget.id}}">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Nexus Policy Violation Configuration</h4>
                    </div>
                    <div class="modal-body height-adjusting-modal">

                        <div class="well well-m">
                            <form role="form" name="configEditForm" class="form-horizontal">
                                <spectrum-widget-common-options widget="widget" data="data" form="configEditForm"></spectrum-widget-common-options>
                            </form>
                        </div>

                        <div class="well well-m" ng-repeat="policy in nexusPolicy"  ng-class-odd="'odd'" ng-class-even="'even'">

                            <div class="row">
                                <div class="col-lg-2">
                                    <div class="material-switch pull-right">
                                        <input id="widget-config-{{policy.id}}-{{widget.id}}" name="widget-config-{{policy.id}}-{{widget.id}}" class="input-sm" ng-model="policy.selected" ng-checked={{policy.selected}}  type="checkbox" />
                                        <label for="widget-config-{{policy.id}}-{{widget.id}}" class="label-success"></label>
                                    </div>
                                </div>

                                <div class="col-lg-5">
                                    <label for="widget-config-{{policy.id}}-{{widget.id}}" style="cursor:pointer; word-break:normal;">{{policy.name}}</label>
                                </div>

                                <div class="col-lg-5">
                                    <select data-placeholder="Choose State" class="chosen-select" multiple="multiple" ng-model="policy.selectedStages" ng-options="stage.optLabel=stage.name for stage in policy.stages" />
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" ng-click="hideWidgetOptions()">Cancel</button>
                        <button type="button" class="btn btn-primary" ng-click="saveNexusConfig(nexusPolicy)">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
