<spectrum-widget-loading widget="widget" ready="ready || widgetOptionsActive"></spectrum-widget-loading>
<div ng-if="ready || widgetOptionsActive">
	<div class="widget-options">
		<a role="button" ng-if="!widgetOptionsActive" ng-click="showWidgetOptions()" id="configure-widget-{{widget.wid}}">
			<i class="glyphicon glyphicon-cog"></i>
		</a>
	</div>
	<div class="collapse" id="widget-configuration-{{widget.wid}}">
		<div class="well">
			<form role="form" name="configEditForm" class="form-horizontal">

				<spectrum-widget-common-options widget="widget" data="data" form="configEditForm"></spectrum-widget-common-options>
				<div class="form-group">
					<label class="col-sm-4 control-label"></label>
					<div class="col-sm-6">
						<button class="btn btn-xs btn-primary" ng-click="saveOptions(configEditForm)"
						        id="configure-widget-{{widget.wid}}-save">
							<i class="glyphicon glyphicon-floppy-saved"></i>
							Save
						</button>
						<button class="btn btn-xs" id="btn-cancel-widget-options-{{widget.wid}}" ng-click="cancelConfigOption()">
							<i class="glyphicon glyphicon-remove"></i>
							Cancel
						</button>
					</div>
				</div>
			</form>
		</div>

		<form name="bookmarkForm">
			<div class="form-group col-sm-4 ">
				<input class="form-control" id="spec-widget-bookmark-label-{{widget.wid}}"
				       placeholder="Enter Label" ng-model="data.bookmark.label"
				       ng-focus="changeButtonColor()"
				       name="bookmarkLabel"
				       maxlength="80">
				<span class="error text-danger" ng-show="data.formErrors">
					{{data.formErrors}}
				</span>
			</div>

			<div class="form-group">
				<div class="col-sm-4 ">
					<input type="text" class="form-control" id="spec-widget-bookmark-link-{{widget.wid}}"
						placeholder="Enter URL" ng-model="data.bookmark.link" ng-focus="changeButtonColor()"
						minlength="2">
					<span class="error text-danger" ng-show="data.bookmarkLinkError">
						Enter Valid URL
					</span>
				</div>

			</div>
			<div class="form-group">
				<div class="col-sm-4">
					<button type="submit" id="spec-widget-bookmark-add-{{widget.wid}}"class="btn btn-primary"
					        ng-click="addBookmark(bookmarkForm)">Add</button>
				</div>
			</div>
		</form>
	</div>

	<div></div>
	<ul class="col-sm-12">
	<li ng-repeat="link in resultTable.rows | orderBy:'title'">

			<div class="text-capitalize widget-bookmark-label">
				<a href={{link.data.link}} target="_blank"
				   id="spec-widget-bookmark-label-{{link.data.id}}">{{link.data.label}}</a>
				<span ng-if="widgetOptionsActive"
				      class="widget-bookmark-delete glyphicon glyphicon-trash danger"
				      id="btn-spec-delete-bookmark-{{link.data.id}}"
				      ng-click="removeBookmark(link)">
				</span>
			</div>
			<p class="widget-bookmark-link" id="spec-widget-bookmark-link-{{link.data.id}}">{{link.data.link}}</p>

	</ul>

</div>