<spectrum-widget-loading widget="widget" ready="ready || widgetOptionsActive"></spectrum-widget-loading>
<div ng-if="data.availableApps.length > 0 && (ready || widgetOptionsActive)">
	<div class="widget-options">
		<a role="button" ng-if="!widgetOptionsActive" ng-click="showWidgetOptions()" id="configure-widget-{{widget.wid}}">
			<i class="glyphicon glyphicon-cog"></i>
		</a>
	</div>

	<div class="collapse" id="widget-configuration-{{widget.wid}}">
		<div class="well">
			<form role="form" name="configEditForm" class="form-horizontal">
				<spectrum-widget-common-options widget="widget" data="data" form="configEditForm"></spectrum-widget-common-options>

				<div class="form-group">
					<label for="select-spec-jira-app-{{widget.wid}}" class="col-sm-4 control-label small">Instance</label>
					<div class="col-sm-6">
						<select id="select-spec-jira-app-{{widget.wid}}" class="appId form-control input-sm" ng-model="data.chosenApp"
						        ng-options="app.optLabel=app.name for app in data.availableApps"
						        ng-change="getFilterList(false)"></select>
					</div>
				</div>
				<div class="form-group">
					<label for="select-spec-jira-filter-{{widget.wid}}" class="col-sm-4 control-label small">Filter</label>
					<div class="col-sm-6">
						<select id="select-spec-jira-filter-{{widget.wid}}" class="filterId form-control input-sm" ng-model="data.chosenFilter"
						        ng-options="filter.optLabel=filter.name for filter in data.favouriteFilters"
								ng-change="update(false)">
							<option value="" ng-if="data.favouriteFilters.length == 0">-- No favourite filters found in JIRA --</option>
						</select>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-4 control-label"></label>
					<div class="col-sm-6">
						<button class="btn btn-xs btn-primary {{data.favouriteFilters.length == 0 ? 'disabled' : ''}}"
						        ng-click="saveOptions(configEditForm)"
						        id="configure-widget-{{widget.wid}}-save">
							<i class="glyphicon glyphicon-floppy-saved"></i>
							Save
						</button>
						<button class="btn btn-xs" id="btn-cancel-widget-options-{{widget.wid}}" ng-click="cancelOptions()">
							<i class="glyphicon glyphicon-remove"></i>
							Cancel
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>

	<spectrum-comments widget="widget" comments="comments"></spectrum-comments>
    <!-- Note deliberately no order by initial on this widget, see SPEC-2886 -->
	<spectrum-table ng-if="ready" id="widget-result-table-{{widget.wid}}"
					headings="[{icon: ''},
							   {key: 'Key'},
							   {name: 'Name'},
							   {statusIcon: ''},
							   {status: 'Status'},
							   {description: 'Description'},
							   {projectIcon: ''},
							   {project: 'Project'},
							   {priorityIcon:''}]"
					rows="resultTable.rows"
					orderable-columns="key, name, status, description, project"
					order-reverse-initial="false"
					empty-message="No results"
					filterable-columns="resultTable.filterableColumns"
					filter-prompt="Search..."
					filter-applied="resultTable.filterApplied"
					popover-rules="{name: {cutoff: '20', placement: 'bottom', suffix: '...'},
									project: {cutoff: '10', placement: 'bottom', suffix: '...'},
									status: {cutoff: '11', placement: 'bottom', suffix: '...'},
									description: {cutoff: '40', placement: 'bottom', suffix: '...'}}"
					update-in-progress="resultTable.updateInProgress"
					row-description-plural="issues"
					image-columns="['icon', 'statusIcon', 'projectIcon', 'priorityIcon']"
					elements-total-length="resultTable.rows.totalLength"
					sort-items="resultTable.sortItems"
					page-changed="resultTable.pageChanged">
	</spectrum-table>

</div>
<div ng-if="ready && data.availableApps.length === 0">
	<h2>{{appType}} is not available</h2>
	<hr />
	<p>
		Please ask your administrator to either add {{appType}} to Spectrum,
		or to create an application link to an existing {{appType}}
	</p>
</div>
