<spectrum-heading title="{{title}}" subtitle="Link Application"></spectrum-heading>
<div class="container theme-showcase">
	<div class="row">
		<div class="col-xs-12">
			<div class="alert alert-danger" role="alert" ng-if="error">
				<span class="glyphicon glyphicon-exclamation-sign"></span>
				{{error}}
			</div>
			<h3>Steps to connect Spectrum to {{app.appType}}</h3>
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
				<div class="panel">
					<div role="tab" id="headingOne">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapseNavigateToApplicationLink"
						   aria-expanded="false" aria-controls="collapseNavigateToApplicationLink">
							1. Navigate to "Configure Application Links" page in {{app.name}}
						</a>
					</div>
					<div class="collapse in" id="collapseNavigateToApplicationLink" role="tabpanel">
						<div class="well">
							<ol>
								<li>
									<p>Log-in, as a system administrator, into
										<a href="{{app.url}}" target="_blank">{{app.appType}}</a>
									</p>
								</li>
								<li>
									<p>Click the cog icon on the top-right side of the page
										<span ng-if=!app.isBbServer> and select the
											<strong>
												<span ng-if=app.isStash>Add-ons</span>
												<span ng-if=app.isJira>Applications</span>
												<span ng-if=app.isConfluence>General Configuration</span>
											</strong> option
										</span>
									</p>
								</li>
								<p ng-if=!app.isBbServer><img src="images/oauthsteps/{{app.appType.replace(' ', '')}}-step1.jpg" /></p>

								<li><p>Select <strong>Application Links</strong> in the left panel. This will open the "Configure Application Links" page</p></li>
								<p><img src="images/oauthsteps/{{app.appType.replace(' ', '')}}-step2.jpg" /></p>
							</ol>
						</div>
					</div>
				</div>
				<div class="panel">
					<div role="tab" id="headingTwo">
						<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseConfigSpectrumLink" aria-expanded="false"
						   aria-controls="collapseConfigSpectrumLink">
							2. Configure Spectrum link
						</a>
					</div>
					<div class="collapse" id="collapseConfigSpectrumLink" role="tabpanel">
						<div class="well">
							<ol>
								<li>
									<p>Enter your Spectrum URL (include the protocol, i.e. http://mycompany.spectrum.com) and press
										<strong>Create new link</strong>.
									</p>
								</li>
								<p>
									<img src="images/oauthsteps/step3.jpg" />
								</p>
								<li>
									<p>If a dialog window pops up, as shown in the picture bellow, you can ignore it and click
										<strong>Continue</strong>
									</p>
								</li>
								<p>
									<img src="images/oauthsteps/step4.jpg" />
								</p>
								<li>
									<p>On the "Link applications" dialog you will have to select an
										<strong>Application Name</strong>.
										<strong>Application Type</strong>
										should be left as "Generic Application". Select
										<strong>Continue</strong>
									</p>
								</li>
								<p>
									<img src="images/oauthsteps/{{app.appType.replace(' ', '')}}-step5.jpg" />
								</p>

								<li>
									<p>Click on <strong>Edit</strong> on the new Application-link and
										<strong> Incoming Authentication </strong>
									</p>
									<p>
										<img src="images/oauthsteps/{{app.appType.replace(' ', '')}}-step6.jpg" />
									</p>
								</li>

								<li>
									<p>On the next form enter the following details: </p>
								</li>
								<p>Consumer Key:
									<pre>{{consumerKey}}</pre>
								</p>
								<p>Consumer Name:
									<pre>Spectrum</pre>
								</p>
								<p>Public Key:
									<pre>{{publicKey}}</pre>
								</p>

								<p>Allow 2-Legged OAuth:
									<pre>checked</pre>
								</p>

								<p>Execute as
									<pre>Admin User(admin)</pre>
								</p>
								<p>Allow user impersonation through 2-Legged OAuth
								<pre>checked</pre>
								</p>

								<p>
									<img src="images/oauthsteps/{{app.appType.replace(' ', '')}}-step7.jpg" />
								</p>
								<li>
									<p>Select <strong>Save</strong></p>
								</li>
							</ol>
						</div>
					</div>
				</div>
				<div class="panel">
					<div role="tab" id="headingThree">
						<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseAuthoriseLink"
						   aria-expanded="false" aria-controls="collapseAuthoriseLink" id="authorise-link-tab">
							3. Authorise link
						</a>
					</div>
					<div class="collapse" role="tabpanel" id="collapseAuthoriseLink">
						<div class="well">
							<p>Once all the previous configurations are set up click on <strong>Authorise
								link</strong></p>
							<button type="button" class="btn btn-primary" id="btn-spec-requestToken"
									ng-click="authoriseApplication()">Authorise link</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
