<div class="modal" id="modal-spec-login-form" tabindex="-1" role="dialog" aria-labelledby="modal-spec-login-form-label" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div id="login_logo" class="login_item">
					<h2>SPECTRUM</h2>
				</div>
				<form ng-submit="submit()">
					<h3>Login</h3>
					<div ng-if="loginError" id="div-spec-login-error">
						<div class="alert alert-warning">
							Incorrect username or password
						</div>
					</div>
					<input type="text" id="txt-spec-login-userName" class="form-control" placeholder="Username"
					       name="username" ng-model="userName"/><br/>
					<input type="password" id="txt-spec-login-password" class="form-control" placeholder="Password"
					       name="password" ng-model="password"/><br/>
					<button class="submit btn btn-lg btn-primary btn-block"
					        id="btn-spec-login-submit-dialog" type="submit">Enter</button>
				</form>
			</div>
		</div>
	</div>
</div>
