<li class="dropdown" ng-if="show">
	<a data-toggle="dropdown" href="#">
		{{title}}<span class="caret"></span>
	</a>
	<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" ng-app="spectrumMenu">
		<li id="btn-spec-dropdown-item-{{action.id}}" ng-repeat="action in actions" ng-class="action.run || action.url ? '' : 'divider'">
			<a ng-if="action.url" id="btn-spec-dropdown-{{action.id}}" ng-href="{{action.url}}" target="{{action.external ? '_blank' : '_self'}}">
				<span class="glyphicon glyphicon-{{addActions.icon}}"></span>
				{{action.name | limitTo: 35}}
				{{action.name.length > 35 ? '...' : ''}}
			</a>
		</li>
	</ul>
</li>
