<ul class="nav navbar-nav" ng-controller="MenuController">
	<spectrum-menu-drop-down id="dropdown-spec-dashboards" title="Dashboards" actions="dashboardLinks"
	                         administratorOnly="false" loggedInUserOnly="true"></spectrum-menu-drop-down>
	<spectrum-menu-drop-down id="dropdown-spec-processes" title="Processes" actions="processesLinks"
	                    administratorOnly="true"></spectrum-menu-drop-down>
	<spectrum-menu-drop-down id="dropdown-spec-users-and-groups" title="Users & Groups" actions="userLinks"
	                         administratorOnly="true"></spectrum-menu-drop-down>
	<spectrum-menu-drop-down id="dropdown-spec-applications" title="Applications" actions="applicationLinks"
	                         administratorOnly="true"></spectrum-menu-drop-down>
	<spectrum-menu-item id="menu-item-spec-projects" title="Projects" page="project.html" view="projects"
	                    administratorOnly="true"></spectrum-menu-item>
</ul>
