<spectrum-heading title="{{defaultTitle ? defaultTitle : 'Add process'}}"
				  subtitle="{{defaultTitle ? 'Add version' : ''}} by uploading own file">
</spectrum-heading>
<div class="container theme-showcase" role="main">
	<div class="row">
		<div class="col-xs-12">
			<div class="spec-help-class">
				<p class="text-info bg-info"><span class="glyphicon glyphicon-info-sign"></span>
				Please select a .spec file to upload into Spectrum</p>
			</div>
			<div class="alert alert-danger" role="alert" ng-if="error">
				<span class="glyphicon glyphicon-exclamation-sign"></span>
				{{error}}
			</div>
			<form role="form" class="form-horizontal" id="form-upload" ng-submit="submit()">
				<div class="form-group">
					<div class="col-sm-3">
						<div class="fileUploader btn btn-sm btn-default">
							<span class="glyphicon glyphicon-file"></span>Select file
							<!-- Angular doesn't even support listening for changes on file input elements so we must
								 use the regular onchange event instead of ng-change.
								 https://github.com/angular/angular.js/issues/1375 -->
							<input type="file" class="upload" id="file-spec-select-process-file"
								   onchange="angular.element(this).scope().fileChanged(this)"/>
						</div>
					</div>
				</div>
				<div class="form-group has-{{titleValid ? '' : 'error'}} has-feedback"
					 ng-if="fileChosen && fileValid">
					<div class="col-sm-5">
						<label for="txt-spec-process-title" class="col-sm-3 control-label left">Process title</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="txt-spec-process-title"
								   placeholder='Add a title...'
								   ng-disabled="defaultTitle !== undefined ? true : false"
								   ng-model="process.title"
								   ng-change="titleChanged()"/>
							<span class="glyphicon glyphicon-{{titleValid ? '' : 'remove'}} form-control-feedback"></span>
						</div>
					</div>
				</div>
				<div class="form-group" ng-if="fileChosen && fileValid && process.title">
					<div class="col-sm-5">
						<label for="txt-spec-process-description" class="col-sm-3 control-label left">Process description</label>
						<div class="col-sm-9">
							<textarea class="form-control spec-textarea" id="txt-spec-process-description"
									  placeholder="Add a description..." rows="4" wrap="virtual"
									  ng-disabled="defaultTitle !== undefined ? true : false"
									  ng-model="process.description">
							</textarea>
						</div>
					</div>
				</div>
				<hr ng-if="fileChosen && fileValid && process.title">
				<div class="form-group" ng-if="fileChosen && fileValid && process.title">
					<div class="col-sm-5">
						<label for="txt-spec-process-version-comment" class="col-sm-3 control-label left">Version comment</label>
						<div class="col-sm-9">
							<textarea class="form-control spec-textarea" id="txt-spec-process-version-comment"
									  placeholder="Add a comment..." rows="4" wrap="virtual" ng-model="version.comment">
							</textarea>
						</div>
					</div>
				</div>
				<div class="form-group" ng-if="fileChosen && fileValid && process.title">
					<div class="col-sm-5">
						<label for="txt-spec-process-version-description" class="col-sm-3 control-label left">Version description</label>
						<div class="col-sm-9">
							<textarea class="form-control spec-textarea" id="txt-spec-process-version-description"
						          placeholder="Add a description..." rows="4" wrap="virtual" ng-model="version.description">
							</textarea>
						</div>
					</div>
				</div>
				<div class="form-group has-{{fileValid ? 'success' : 'error'}} has-feedback" ng-if="fileChosen">
					<div class="col-sm-5">
						<label for="txt-spec-process-file-name" class="col-sm-3 control-label left">File name</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" disabled="disabled" id="txt-spec-process-file-name"
								   placeholder='No file selected'
								   ng-model="version.fileName"/>
							<span class="glyphicon glyphicon-{{fileValid ? 'ok' : 'remove'}} form-control-feedback"></span>
						</div>
					</div>
				</div>
				<div class="form-group" ng-if="fileChosen && fileValid && process.title && version.comment">
					<div class="col-sm-5">
						<label class="col-sm-3 control-label left"></label>
						<div class="col-sm-9">
							<button class="btn btn-sm btn-primary" id="btn-spec-upload-process"
									ng-click="upload()"
									type="submit">
								<span class="glyphicon glyphicon-open"></span>
								Upload
							</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>