<spectrum-heading title="{{process.title}}" subtitle="Deploy to JIRA"></spectrum-heading>
<div class="container theme-showcase" role="main">
    <div class="row">
        <div class="form-group col-xs-12">
            <div class="spec-help-class" ng-if="!deployInProgress">
                <p class="text-info bg-info" ng-if="jiraApps.length === 0">
                    <span class="glyphicon glyphicon-info-sign"></span>
                    No JIRA instances found in Spectrum
                </p>
                <p class="text-info bg-info" ng-if="jiraApps.length > 0">
                    <span class="glyphicon glyphicon-info-sign"></span>
                    Select a target JIRA instance to deploy the process to
                </p>
            </div>
            <div class="alert alert-danger" role="alert" ng-if="error">
                <span class="glyphicon glyphicon-exclamation-sign"></span>
                <strong>Fatal error(s) found!</strong>
                <br/>
                <div class="scroll-box">
                    <p style="white-space: pre-wrap;">{{error}}</p>
                </div>
            </div>
            <div class="alert alert-danger" role="alert" ng-if="pluginError">
                <span class="glyphicon glyphicon-exclamation-sign"></span>
                <strong>Continuing with the deployment could cause serious problems if dependent plugins are not
                        installed first!</strong>
                <br>
                <div class="scroll-box">
                    <p style="white-space: pre-wrap;">{{pluginError}}</p>
                </div>
            </div>
            <div class="alert alert-warning" role="alert" ng-if="pluginWarning">
                <span class="glyphicon glyphicon-exclamation-sign"></span>
                <strong>Continuing with the deployment could cause serious problems if dependent plugins are not
                        installed first!</strong>
                <br>
                <div class="scroll-box">
                    <p style="white-space: pre-wrap;">{{pluginWarning}}</p>
                </div>
            </div>
            <div class="alert alert-warning" role="alert" ng-if="defaultProjectTypeNotFound">
                <span class="glyphicon glyphicon-exclamation-sign"></span>
                The project type <strong>{{prettifyProjectTypeKey(defaultProjectTypeKey)}}</strong> is not available in the JIRA instance.
                Please install or license the relevant application or select the project type below
            </div>
            <div class="alert alert-warning" role="alert" ng-if="defaultProjectTypeKey === null">
                <span class="glyphicon glyphicon-exclamation-sign"></span>
                The project type is not available in the process. Please select the project type below
            </div>
            <div class="alert alert-success" role="alert" ng-if="success">
                <span class="glyphicon glyphicon-ok-sign"></span>
                Process version: {{version.comment}} ({{version.versionKey.substring(0, 8)}}) was successfully deployed!
                <a class="btn btn-xs btn-success" id="btn-spec-success" ng-click="acknowledgeDeploy()">
                    Acknowledge
                </a>
            </div>

            <div class="row">
                <form role="form" class="form-horizontal">
                    <div class="form-group">
                        <div class="col-sm-5">
                            <label for="select-spec-jira-app" class="col-sm-3 control-label small left">Instance</label>
                            <div class="col-sm-9">
                                <select class="form-control" id="select-spec-jira-app" ng-disabled="deployInProgress"
                                        ng-if="version" ng-model="jiraApp.value" ng-change="jiraSelected()"
                                        ng-options="jiraApp.name for jiraApp in jiraApps | orderBy:'name'">
                                    <option value=""></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-if="!defaultProjectTypeKey || defaultProjectTypeNotFound">
                        <div class="col-sm-5">
							<label for="select-spec-jira-project-type" class="col-sm-3 control-label small left">Select Project Type</label>
							<div class="col-sm-9">
								<select class="form-control" id="select-spec-jira-project-type"
										ng-disabled="deployInProgress"
										ng-if="version" ng-model="jiraProjectType.value"
										ng-options="prettifyProjectTypeKey(jiraProjectType.key) for jiraProjectType in jiraProjectTypes | orderBy:'name'">
									<option value=""></option>
								</select>
							</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-5">
							<label class="col-sm-3 control-label small left"></label>
							<div class="col-sm-9">
								<button class="btn btn-primary" id="btn-spec-deploy" ng-click="deploy()"
										ng-if="jiraApp.value && jiraProjectType.value && !deployInProgress" ng-disabled="waitingForServer" type="submit">
									<span class="glyphicon glyphicon-export"></span>
									{{!waitingForServer ? "Deploy" : "Deploying process..."}}
								</button>
							</div>
                            <button class="btn btn-warning" id="btn-spec-deploy-continue" ng-click="update()"
                                    ng-if="pluginWarning" type="submit">
                                <span class="glyphicon glyphicon-forward"></span>
                                Continue
                            </button>
                            <button class="btn btn-danger" id="btn-spec-deploy-cancel"
                                    ng-click="resetDeploy()" ng-if="deployInProgress && !waitingForServer"
                                    href="processes#/processes">
                                <span class="glyphicon glyphicon-stop"></span>
                                Cancel
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal fade" id="problemsModal" tabindex="-1"
                 role="dialog" aria-labelledby="problemsModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Duplicate JIRA objects found</h4>
                        </div>
                        <div class="modal-body">
                            <div class="alert alert-warning" role="alert">
                                <p><span class="glyphicon glyphicon-exclamation-sign"></span>
                                The objects listed below already exist in the target JIRA instance (i.e. same name
                                and type). Please select between 'Create new' and 'Reuse existing' for
                                each object to continue with the deployment.</p>
                                <p>If 'Reuse existing' of a custom field (only available for unique custom fields of
                                the same custom field type) is selected, that action will either add any associated
                                issue types for the custom field in the spec file to any existing default context, or
                                non-default global context (should a default context not exist). Or create a new
                                default, global context with the associated issue types for that custom field in the
                                spec file.</p>
                            </div>
                            <div class="alert alert-danger" role="alert" ng-if="duplicateError">
                                <span class="glyphicon glyphicon-exclamation-sign"></span>
                                Previous renaming choices do not seem to be fully valid. Check if another JIRA
                                object (with the same name and type) also exists or if two or more objects with the
                                same type (from the list below) were renamed to the same name.
                            </div>
                            <div class="scroll-box">
                                <table id="tb-spec-problems" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <td><b>Name</b></td>
                                            <td><b>Object Type</b></td>
                                            <td><b>Solution Options</b>
                                                <div class="btn-group pull-right" role="group">
                                                    <button id="btn-create-all-new-objects" type="button" class="btn btn-default btn-xs"
                                                            ng-click="createAllNewSelection(problems)">
                                                        <span class="glyphicon glyphicon-check"></span>
                                                        New
                                                    </button>
                                                    <button id="btn-reuse-all-objects" type="button" class="btn btn-default btn-xs"
                                                            ng-click="reuseAllExistingSelection(problems)">
                                                        <span class="glyphicon glyphicon-check"></span>
                                                        Reuse All
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="problem in problems | orderBy: ['details.type','details.name']">
                                            <td class="col-xs-3 vert-align" id="td-spec-problems-row-{{$index}}-name">{{problem.details.name}}</td>
                                            <td class="col-xs-5 vert-align">
                                                {{problem.details.type}}
                                                <span ng-if="problem.details.type === 'CUSTOM_FIELD'
                                                    && problem.details.sameCustomFieldType
                                                    && !problem.details.uniqueCustomField">(Same type)</span>
	                                                <span ng-if="problem.details.type === 'CUSTOM_FIELD'
	                                                && problem.details.sameCustomFieldType
                                                    && problem.details.uniqueCustomField">(Same type and unique)</span>
                                                <span ng-if="problem.details.type === 'CUSTOM_FIELD'
                                                    && !problem.details.sameCustomFieldType">(Different type)</span>
                                            </td>
                                            <td class="col-xs-5 vert-align"  id="td-spec-problems-row-{{$index}}-solution">
                                                <label class="radio-inline">
                                                    <input type="radio"
                                                           id="radio-create-new-{{problem.details.name}}-{{problem.details.type}}"
                                                           value="CREATE_NEW" ng-model="problem.solution.type"
                                                           ng-change="createNewSelected(problem)">
                                                    Create new
                                                </label>
                                                <label class="radio-inline"
                                                       ng-if="problem.details.type !== 'CUSTOM_FIELD'
                                                            || (problem.details.type === 'CUSTOM_FIELD'
                                                            && problem.details.sameCustomFieldType
                                                            && problem.details.uniqueCustomField)">
                                                    <input type="radio"
                                                           id="radio-reuse-existing-{{problem.details.name}}-{{problem.details.type}}"
                                                           value="REUSE_EXISTING" ng-model="problem.solution.type"
                                                           ng-change="reuseExistingSelected(problem)">
                                                    Reuse existing
                                                </label>
                                                <br/>
                                                <div class="panel panel-primary"
                                                     ng-if="problem.solution.type === 'CREATE_NEW'">
                                                    <div class="panel-heading">NEW OBJECT NAME</div>
                                                    <div class="panel-body">
                                                        <div class="form-group">
                                                            <input type="text"
                                                                   ng-disabled="problem.solution.type !== 'CREATE_NEW'"
                                                                   id="text-create-new--{{problem.details.name}}-{{problem.details.type}}"
                                                                   placeholder="{{problem.details.name}}"
                                                                   ng-model="problem.solution.details.name">
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <td class="vert-align text-center">
                                                <span ng-if="problem.solution && !problem.solution.error"
                                                class="glyphicon glyphicon-ok text-success"></span>
                                                <span ng-if="problem.solution.error"
                                                      class="glyphicon glyphicon-remove text-danger"></span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button id="btn-spec-deploy-update" class="btn btn-primary"
                                    ng-disabled="problemsWithoutSolutionExist() || waitingForServer"
                                    ng-click="update()">
                                <span class="glyphicon glyphicon-export"></span>
                                {{!waitingForServer ? "Submit changes" : "Submitting changes..."}}
                            </button>
                            <button class="btn btn-danger" id="btn-spec-deploy-update-cancel"
                                    ng-disabled="waitingForServer"
                                    data-dismiss="modal" ng-click="resetDeploy() ">
                                <span class="glyphicon glyphicon-stop"></span>
                                Cancel
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
