<spectrum-heading title="{{user.firstName !== null ? user.firstName: user.name}} {{user.lastName !== null ? user.lastName : ''}}"
                  subtitle="Account details"></spectrum-heading>
<div class="container theme-showcase" role="main">
	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-danger" role="alert" ng-if="error">
				<strong>Error!</strong> {{error}} pippo
			</div>
			<div class="alert alert-danger" role="alert" ng-if="errors.length > 0">
				<div ng-repeat="error in errors"><strong>Error!</strong> {{error}} <br/></div>
			</div>
			<div class="alert alert-success" role="alert" ng-if="successMsg">
				<strong>Success!</strong> {{successMsg}}
			</div>
		</div>
	</div>
	<div ng-if="!user.external" class="col-md-offset-11 pull-right">
		<div class="dropdown form-group">
			<button class="btn btn-default dropdown-toggle" type="button"
			        id="dropdown-spec-account-manage-toggle" data-toggle="dropdown" aria-expanded="true">
				<span class="glyphicon glyphicon-cog"></span>
			</button>
			<ul class="dropdown-menu" role="menu" aria-labelledby="dropdown-spec-account-manage-toggle">
				<li>
					<a id="btn-spec-account-manage-edit" ng-click="switchMode()">
						<span class="glyphicon glyphicon-pencil"></span>
						Edit account information
					</a>
				</li>
			</ul>
		</div>
	</div>
	<form name="editForm" ng-submit="editForm.$valid && update()">
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Account information</h3>
					</div>
					<div class="panel-body">
						<div class="col-md-6">
							<h3 class="pull-up">Login details</h3>
							<div class="form-group">
								<label for="txt-spec-account-userName" required>Username</label>
								<input type="text" class="form-control" id="txt-spec-account-userName" name="userName"
								       ng-model="user.name"
								       disabled/>
							</div>
							<div class="form-group" ng-show="editMode">
								<label for="txt-spec-account-oldPassword">Current password</label>
								<input type="password" class="form-control" id="txt-spec-account-oldPassword"
								       name="oldPassword" ng-model="oldPassword" placeholder="Current Password"
								       autofocus ng-disabled="user.external" />
							</div>
							<div class="form-group" ng-show="editMode">
								<label for="txt-spec-account-newPassword">New password</label>
								<input type="password" class="form-control" id="txt-spec-account-newPassword" name="password"
								       ng-model="password" ng-minlength="8" ng-maxlength="50" placeholder="New Password"
								       ng-disabled="user.external"/>
								<span class="error text-danger" ng-show="editForm.password.$error.minlength">
									This password is too short!
								</span>
								<span class="error text-danger" ng-show="editForm.password.$error.maxlength">
									This password is too long!
								</span>
							</div>
							<div class="form-group" ng-show="editMode">
								<label for="txt-spec-account-confirmPassword">Confirm new password</label>
								<input type="password" class="form-control" id="txt-spec-account-confirmPassword"
								       name="confirmPassword" ng-model="confirmPassword" placeholder="Confirm Password"
								       ng-disabled="user.external"/>
							</div>
						</div>
						<div class="col-md-offset-6">
							<hr class="vertical-line"/>
						</div>
						<div class="col-md-6">
							<h3 class="pull-up">Personal details</h3>
							<div class="form-group">
								<label for="txt-spec-account-role">Role</label>
								<input type="text" class="form-control" id="txt-spec-account-role" name="role"
								       ng-value="user.role === 'ROLE_ADMIN' ? 'Administrator' : 'User'" disabled/>
							</div>
							<div class="form-group">
								<label for="txt-spec-account-firstName" required>First name</label>
								<input type="text" class="form-control" id="txt-spec-account-firstName" name="firstName"
								       ng-model="user.firstName" placeholder="First Name" ng-minlength="2" ng-maxlength="255"
								       ng-required="!user.external" ng-disabled="!editMode || user.external"/>
								<span class="error text-danger" ng-show="editForm.firstName.$error.required">
									Required!
								</span>
								<span class="error text-danger" ng-show="editForm.firstName.$error.minlength">
									This first name is too short!
								</span>
								<span class="error text-danger" ng-show="editForm.firstName.$error.maxlength">
									This first name is too long!
								</span>
							</div>
							<div class="form-group">
								<label for="txt-spec-account-lastName" required>Last name</label>
								<input type="text" class="form-control" id="txt-spec-account-lastName" name="lastName"
								       ng-model="user.lastName" placeholder="Last Name" ng-minlength="2" ng-maxlength="255"
								       ng-required="!user.external" ng-disabled="!editMode || user.external"/>
									<span class="error text-danger" ng-show="editForm.lastName.$error.required">Required!</span>
									<span class="error text-danger" ng-show="editForm.lastName.$error.minlength">
										This last name is too short!
									</span>
									<span class="error text-danger" ng-show="editForm.lastName.$error.maxlength">
										This last name is too long!
									</span>
							</div>
							<div class="form-group">
								<label for="txt-spec-account-email">Email</label>
								<input type="email" class="form-control" id="txt-spec-account-email"
								       name="email" ng-model="user.email"
								       placeholder="{{user.email && user.email.length > 0 ? user.email : 'Email'}}"
								       ng-disabled="!editMode || user.external"/>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row" ng-if="editMode">
			<div class="col-md-12 form-group">
				<input type="submit" class="btn btn-primary" id="btn-spec-account-submit" value="Update" />
				<button type="button" class="btn btn-default" id="btn-spec-account-cancel" ng-click="switchMode()">
					Cancel
				</button>
			</div>
		</div>
	</form>
	<div class="row">
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Groups</h3>
				</div>
				<div class="panel-body">
					<spectrum-table id="tb-spec-accountGroups"
					                add-actions=""
					                headings="[{name: ''}]"
					                rows="groups"
					                orderable-columns=""
					                order-by-initial="name"
					                order-reverse-initial="false"
					                empty-message="Your user is not a member of any groups"
					                popover-rules="{name: {cutoff: '50', placement: 'right', suffix:'...'}}">
					</spectrum-table>
				</div>
			</div>
		</div>

		<div class="col-md-6">
            <form name="nexusAppForm">
                <span ng-show="nexusAppForm.nexusIQApps.chosenApp.$error.required">We could not validate your credentials,
                    please try again or contact an administrator</span>
			<h3 class="pull-up">Nexus IQ details</h3>
			<div class="alert alert-warning" role="alert">
				<span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
				Nexus credentials shall be saved in Spectrum</div>
			<div class="form-group">
				<label for="txt-spec-account-role">Instance</label>
				<select id="txt-spec-account-role1" class="appId form-control input-sm" ng-model="nexusIQApps.chosenApp"
                            ng-options="app.name for app in nexusIQApps" required>
                        <option value="">Please select your Nexus-IQ Instance</option>
				</select>
			</div>

			<div class="form-group">
				<label for="txt-spec-account-nexus-username">Username</label>
				<input type="text" class="form-control" id="txt-spec-account-nexus-username" name="username" ng-model="nexusUserName"/>
			</div>

			<div class="form-group">
				<label for="txt-spec-account-nexus-pass">Password</label>
				<input type="password" class="form-control" id="txt-spec-account-nexus-pass" name="role" ng-model="nexusUserPassword"/>
			</div>

			<div class="form-group">
				<input class="btn btn-primary" type="submit" value="Save" id = "txt-spec-account-nexus-submit" ng-click="saveUserCreds()">
			</div>
            </form>
		</div>
	</div>
</div>
