<spectrum-heading title="Users"></spectrum-heading>
<div class="container theme-showcase" role="main">
	<div class="row">
		<div class="alert alert-danger" role="alert" ng-if="error">
			<strong>Error!</strong> {{error}}
		</div>
	</div>
	<spectrum-table id="tb-spec-users"
	                add-actions="addActions"
	                headings="[{fullName: 'Name'}, {name: 'Username'}, {active: 'Active'}]"
	                rows="userRowModel.rows"
	                orderable-columns="fullName, name, active"
	                order-by-initial="fullName"
	                order-reverse-initial="false"
	                empty-message="No users found in Spectrum or external directories!"
	                popover-rules="{fullName: {cutoff: '35', placement: 'right', suffix: '...'},
	                                name: {cutoff: '35', placement: 'right', suffix:'...'}}"
	                filterable="true"
	                filterable-columns="['name', 'fullName']"
	                filter-prompt="Search user names"
	                filter-applied="userRowModel.filterApplied"
	                update-in-progress="userRowModel.updateInProgress"
	                row-description-plural="users"
	                elements-total-length="userRowModel.rows.totalLength">
	</spectrum-table>
</div>