<spectrum-table id="tb-spec-applications"
				add-actions="addActions"
				headings="[{name: 'Name'}, {url: 'Url'}, {type: 'Application Type'}, {status: 'Status'}, {oauthLinkConfigured: 'Linked'}]"
				rows="appRowModel.rows"
				orderable-columns="name, url, type, status"
				order-by-initial="name"
				order-reverse-initial="false"
				empty-message="No Applications found in Spectrum!"
				popover-rules="{name: {cutoff: '35', placement: 'right', suffix:'...'}}"
				filter-applied="appRowModel.filterApplied"
				update-in-progress="appRowModel.updateInProgress"
				grid-mode="{{data.gridMode || gridMode}}"
				grid-mode-selectable="{{gridModeSelectable}}"
				grid-style="wide"
				grid-colour-column="hexColour"
				grid-picture-column="pictureType"
				grid-status-icon-column="statusIcon"
				grid-text-column="name"
				picture-columns="['type']">
</spectrum-table>