<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div id="login_form" class="height-adjusting">
                <div class="padding-large"></div>
                <div id="landing_page_logo"></div>
                <div class="padding-large"></div>
                <form ng-submit="submit()">
                    <div ng-if="loginError" id="div-spec-login-error">
                        <div class="alert alert-warning">
                            Incorrect username or password
                        </div>
                    </div>
                    <input type="text" id="txt-spec-login-userName" class="form-control" placeholder="Username"
                           name="username" ng-model="userName"/><br/>
                    <input type="password" id="txt-spec-login-password" class="form-control" placeholder="Password"
                           name="password" ng-model="password"/><br/>
                    <button class="submit btn btn-lg btn-primary btn-block"
                            id="btn-spec-login-submit-dialog" type="submit">Enter</button>
                </form>
                <div class="padding-large"></div>
            </div>
        </div>
        <div class="col-md-6">
            <a href="https://www.clearvisionacp.com" target="_blank">
                <div id="promo" class="height-adjusting">
                    <div class="padding-large"></div>
                    <div id="acp_logo"></div>
                    <div class="padding-medium"></div>
                    <div id="atlassian_contractor"></div>
                    <div class="padding-medium"></div>
                    <h2>Matching Atlassian-skilled contractors with Atlassian-related projects</h2>
                    <div class="padding-medium"></div>
                    <p>The Affiliate Contractors Programme is where project managers come to find independent, self-employed contractors with expertise in the Atlassian toolset.</p>
                    <div class="padding-small"></div>
                    <p>If your business is looking for an Atlassian-skilled worker to join a fixed-term project, and you want the reassurance of tested, proven skills and back up from a team of Atlassian Experts, the ACP is for you. Search through our pool of trusted, Atlassian-skilled professionals to find the perfect fit for your project.</p>
                    <div class="padding-large"></div>
                </div>
            </a>
        </div>
    </div>
</div>
