<spectrum-heading title="{{defaultTitle ? defaultTitle : 'Add process'}}"
                  subtitle="{{defaultTitle ? 'Add version' : ''}} by extracting from JIRA">
</spectrum-heading>
<div class="container theme-showcase" role="main">
	<div class="row">
		<div class="col-xs-12">
			<div class="spec-help-class">
				<p class="text-info bg-info" ng-if="jiraApps.length === 0">
					<span class="glyphicon glyphicon-info-sign"></span>
					No JIRA instances found in Spectrum
				</p>
				<p class="text-info bg-info" ng-if="jiraApps.length > 0">
					<span class="glyphicon glyphicon-info-sign"></span>
					Please select a JIRA instance followed by a JIRA project to extract a process.
				</p>
			</div>
			<div class="alert alert-danger" role="alert" ng-if="error">
				<span class="glyphicon glyphicon-exclamation-sign"></span>
				<strong>Fatal error(s) found!</strong>
				<br/>
				<div class="scroll-box">
					<p style="white-space: pre-wrap;">{{error}}</p>
				</div>
			</div>
			<form role="form" class="form-horizontal" name="form-extract" ng-if="jiraApps" ng-submit="submit()">
				<div class="form-group">
					<div class="col-sm-5">
						<label for="select-spec-jira-app" class="col-sm-3 control-label left">JIRA instance</label>
						<div class="col-sm-9">
							<select class="form-control" id="select-spec-jira-app"
									ng-model="jiraApp.value"
									ng-change="selectedJira()"
									ng-options="jiraApp.name for jiraApp in jiraApps | orderBy:'name'">
								<option value=""></option>
							</select>
						</div>
					</div>
				</div>
				<div class="form-group" ng-if="jiraApp.value">
					<div class="col-sm-5">
						<label for="select-spec-jira-project" class="col-sm-3 control-label left">JIRA project</label>
						<p class="help-block" ng-if="jiraProjects.length === 0">
							No projects found.
						</p>
						<div class="col-sm-9">
							<select class="form-control" id="select-spec-jira-project"
									ng-if="jiraProjects || jiraProjects > 0"
									ng-model="jiraProject.value"
									ng-change="projectSelected()"
									ng-options="jiraProject.name for jiraProject in jiraProjects | orderBy:'name'">
							</select>
						</div>
					</div>
				</div>
				<div class="form-group has-{{titleValid ? '' : 'error'}} has-feedback" ng-if="jiraProject.value">
					<div class="col-sm-5">
						<label for="txt-spec-process-title" class="col-sm-3 control-label left">Process title</label>
						<div class="col-sm-9">
							<input type="text" class="form-control" id="txt-spec-process-title"
								   placeholder='Add a title...'
								   ng-disabled="defaultTitle !== undefined ? true : false"
								   ng-model="process.title"
								   ng-change="titleChanged()"/>
						</div>
						<span class="glyphicon glyphicon-{{titleValid ? '' : 'remove'}} form-control-feedback"></span>
					</div>
				</div>
				<div class="form-group" ng-if="jiraProject.value && process.title">
					<div class="col-sm-5">
						<label for="txt-spec-process-description" class="col-sm-3 control-label left">Process description</label>
						<div class="col-sm-9">
							<textarea class="form-control spec-textarea"
									  id="txt-spec-process-description"
									  placeholder="Add a description..." rows="4" wrap="virtual"
									  ng-disabled="defaultTitle !== undefined ? true : false"
									  ng-model="process.description">
							</textarea>
						</div>
					</div>
				</div>
				<hr ng-if="jiraProject.value && process.title">
				<div class="form-group" ng-if="jiraProject.value && process.title">
					<div class="col-sm-5">
						<label for="txt-spec-process-version-comment" class="col-sm-3 control-label left">Version comment</label>
						<div class="col-sm-9">
							<textarea class="form-control spec-textarea" id="txt-spec-process-version-comment"
									  placeholder="Add a comment..." rows="4" wrap="virtual" ng-model="version.comment">
							</textarea>
						</div>
					</div>
				</div>
				<div class="form-group" ng-if="jiraProject.value && process.title">
					<div class="col-sm-5">
						<label for="txt-spec-process-version-description" class="col-sm-3 control-label left">Version description</label>
						<div class="col-sm-9">
							<textarea class="form-control spec-textarea" id="txt-spec-process-version-description"
									  placeholder="Add a description..." rows="4" wrap="virtual" ng-model="version.description">
							</textarea>
						</div>
					</div>
				</div>
				<div class="form-group"
					 ng-if="process.title && version.comment && version.fileName && jiraProject.value">
					<div class="col-sm-5">
						<label class="col-sm-3 control-label left"></label>
						<div class="col-sm-9">
							<button class="btn btn-sm btn-primary" id="btn-spec-extract" type="submit"
									ng-click="extractStepOne()">
								<span class="glyphicon glyphicon-import"></span>
								Extract
							</button>
						</div>
					</div>
				</div>
			</form>
			<div class="modal" id="pluginsModal" tabindex="-1" role="dialog"
				 aria-labelledby="pluginsModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<button id="close-plugins-modal" type="button" class="close" data-dismiss="modal"
									aria-hidden="true">&times;</button>
							<h4 class="modal-title">Process export required plugins selection</h4>
						</div>
						<div class="modal-body">
							<div class="alert alert-danger" role="alert" ng-if="extractOptionsError">
								<span class="glyphicon glyphicon-exclamation-sign"></span>
								{{extractOptionsError}}
							</div>
							<div class="alert alert-info" role="alert">
								<strong>Info!</strong>
								The following plugins have been identified as enabled, user installed plugins.
								It is possible that the process being exported could rely on them, but this
								is not known. Please select the plugins you would like to mark as required for
								the process to work, on import into another system.
							</div>
							<spectrum-selector id="sel-spec-plugins"
							                   unselected-heading="Unselected plugins"
							                   selected-heading="Selected plugins"
							                   button-help="Use these buttons to select which plugins you want
							                                to mark as required"
							                   unselected-items="unselectedPlugins"
							                   selected-items="selectedPlugins"
							                   display-options="{name: {cutoff: '40', placement: 'bottom', suffix:'...'}}">
							</spectrum-selector>
						</div>
						<div class="modal-footer">
							<button id="btn-spec-continue-extraction" class="btn btn-primary"
									ng-click="extractStepTwo()" data-dismiss="modal">
								<span class="glyphicon glyphicon-import"></span>
								Continue
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="modal" id="customFieldsModal" tabindex="-1" role="dialog"
				 aria-labelledby="customFieldsModalLabel" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="modal-content">
						<div class="modal-header">
							<button id="close-custom-fields-modal" type="button" class="close" data-dismiss="modal"
									aria-hidden="true">&times;</button>
							<h4 class="modal-title">Process export unreferenced global custom field selection</h4>
						</div>
						<div class="modal-body">
							<div class="alert alert-info" role="alert">
								<strong>Info!</strong>
								The following custom fields have been identified as unreferenced global custom
								fields. It is possible that the process being exported could rely on them, but this
								is not known. Please select the global custom fields you would like to export along
								with the rest of the process. The custom field's type has also been included on each
								row.
							</div>
							<spectrum-selector id="sel-spec-custom-fields"
							                   unselected-heading="Available custom fields"
							                   selected-heading="Selected custom fields"
							                   button-help="Use these buttons to select which custom field you want
							                                to include in your process"
							                   unselected-items="unselectedCustomFields"
							                   selected-items="selectedCustomFields"
							                   display-options="{name: {cutoff: '20', placement: 'bottom', suffix:'...'},
				                                           typeKey: {cutoff: '12', placement: 'bottom', suffix:'...'}}">
							</spectrum-selector>
						</div>
						<div class="modal-footer">
							<button id="btn-spec-finalise-extraction" class="btn btn-primary"
									ng-click="extractStepThree()" data-dismiss="modal">
								<span class="glyphicon glyphicon-import"></span>
								Finalise extraction
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
