<spectrum-heading title="{{process.title}}" subtitle="Edit process"></spectrum-heading>
<div class="container theme-showcase" role="main">
	<div class="row">
		<div class="col-md-12">
			<div class="alert alert-danger" role="alert" ng-if="error">
				<strong>Error!</strong> {{error}}
			</div>
		</div>
		<div class="col-md-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Details</h3>
				</div>
				<div class="panel-body">
					<form name="editForm" ng-submit="editForm.$valid && updateProcess(process)">

						<div class="form-group">
							<label for="txt-spec-editProcess-title">Title</label>
							<input type="text" class="form-control" id="txt-spec-editProcess-title"
							       ng-model="process.title" ng-maxlength="255" required/>
							<span class="error text-danger" ng-show="editForm.title.$error.maxlength">
								Title is too long
							</span>
							<span class="error text-danger" ng-show="editForm.title.$error.required">
								Title is a required field
							</span>
						</div>
						<div class="form-group">
							<label for="txt-spec-editProcess-description">Description</label>
							<textarea class="form-control spec-textarea" id="txt-spec-editProcess-description"
							          name="description" rows="4" wrap="virtual" ng-model="process.description"
							          ng-maxlength="4000">
							</textarea>
							<span class="error text-danger" ng-show="editForm.description.$error.maxlength">
								Description is too long
							</span>
						</div>
						<div class="form-group">
							<label>Date created</label>
							<p class="form-control-static break-word">{{process.createDate | date:'medium'}}</p>
						</div>
						<div class="form-group">
							<label>Created By</label>
							<p class="form-control-static break-word">{{process.createdBy}}</p>
						</div>
						<div class="form-group">
							<label>Date updated</label>
							<p class="form-control-static break-word">{{process.updateDate | date:'medium'}}</p>
						</div>
						<div class="form-group">
							<label>Updated By</label>
							<p class="form-control-static break-word">{{process.updatedBy}}</p>
						</div>
						<div class="form-group">
							<input type="submit" class="btn btn-primary" id="btn-spec-editProcess-submit"
								   value="Update" />
							<input type="button" class="btn btn-default" id="btn-spec-editGroup-cancel"
								   value="Cancel" onclick="history.back();"/>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>