<spectrum-heading title="{{defaultTitle ? defaultTitle : 'Process Report Generator'}}">
</spectrum-heading>
<div class="container theme-showcase" role="main">
    <div class="row">
        <div class="col-xs-12">
            <div class="spec-help-class">
                <p class="text-info bg-info" ng-if="jiraApps.length === 0">
                    <span class="glyphicon glyphicon-info-sign"></span>
                    No JIRA instances found in Spectrum
                </p>
                <p class="text-info bg-info" ng-if="jiraApps.length > 0">
                    <span class="glyphicon glyphicon-info-sign"></span>
                    Please select a JIRA instance followed by a JIRA project to report on a process
                </p>
            </div>
            <div class="alert alert-danger" role="alert" ng-if="error">
                <span class="glyphicon glyphicon-exclamation-sign"></span>
                <strong>Fatal error(s) found!</strong>
                <br/>
                <div class="scroll-box">
                    <p style="white-space: pre-wrap;">{{error}}</p>
                </div>
            </div>
            <form role="form" class="form-horizontal" name="form-extract" ng-if="jiraApps" ng-submit="submit()">
                <div class="form-group">
                    <div class="col-sm-4">
                        <label for="select-spec-jira-app" class="col-sm-3 control-label left">JIRA instance</label>
                        <div class="col-sm-9">
                            <select class="form-control" id="select-spec-jira-app"
                                    ng-model="jiraApp.value"
                                    ng-change="selectedJira()"
                                    ng-options="jiraApp.name for jiraApp in jiraApps | orderBy:'name'">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-if="jiraApp.value">
                    <div class="col-sm-4">
                        <label for="select-spec-jira-project" class="col-sm-3 control-label left">JIRA project</label>
                        <div class="col-sm-9">
                            <p class="help-block" ng-if="jiraProjects.length === 0">
                                No projects found
                            </p>
                            <select class="form-control" id="select-spec-jira-project"
                                    ng-if="jiraProjects || jiraProjects > 0"
                                    ng-model="jiraProject.value"
                                    ng-change="projectSelected()"
                                    ng-options="jiraProject.name for jiraProject in jiraProjects | orderBy:'name'">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group" ng-if="jiraProject.value">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-3">
                        <button class="btn btn-sm btn-primary" id="btn-spec-extract" type="submit"
                                ng-click="report()">
                            <span class="glyphicon glyphicon-import"></span>
                            Report
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>