<div class="row">
	<div class="col-md-5">
		<div class="panel panel-default">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-12">
						<strong>{{unselectedHeading}}</strong>
						<div class="btn-group pull-right" role="group">
							<button id="btn-select-all-unselected-items" type="button" class="btn btn-default btn-xs"
							        ng-click="changeAllItemSelection(unselectedItems.rows,true)">
								<span class="glyphicon glyphicon-check"></span>
							</button>
							<button id="btn-unselect-all-unselected-items" type="button" class="btn btn-default btn-xs"
							        ng-click="changeAllItemSelection(unselectedItems.rows,false)">
								<span class="glyphicon glyphicon-unchecked"></span>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-body spectrum-selector-panel">
				<spectrum-table id="tb-spec-selector-unselected-{{id}}"
				                headings="displayFields"
				                rows="unselectedItems.rows"
				                orderable-columns="unselectedItems.orderableColumns"
				                order-by-initial="name"
				                order-reverse-initial="false"
				                empty-message="No items found"
				                popover-rules="displayOptions"
				                filterable="true"
				                filterable-columns="unselectedItems.filterableColumns"
				                filter-prompt="Search..."
				                filter-applied="unselectedItems.filterApplied"
				                update-in-progress="unselectedItems.updateInProgress"
				                row-description-plural="items"
				                is-selector-table="true"
				                update-action-buttons="updateButtonState"
				                double-click-function="add">
				</spectrum-table>
			</div>
		</div>
	</div>
	<div class="col-md-2">
		<div class="alert alert-info">
			{{buttonHelp}}
		</div>
		<div class="btn-group-vertical btn-block">
			<button type="button" class="btn btn-default" id="btn-spec-selector-add" ng-click="add()"
			        ng-disabled="addDisabled">
				Add
				<span class="glyphicon glyphicon-arrow-right"></span> {{item.name}}
			</button>
			<button type="button" class="btn btn-default" id="btn-spec-selector-remove" ng-click="remove()"
			        ng-disabled="removeDisabled">
				<span class="glyphicon glyphicon-arrow-left"></span> {{item.name}}
				Remove
			</button>
		</div>
	</div>
	<div class="col-md-5">
		<div class="panel panel-success">
			<div class="panel-heading">
				<div class="row">
					<div class="col-xs-12">
						<strong>{{selectedHeading}}</strong>
						<div class="btn-group pull-right" role="group">
							<button id="btn-select-all-selected-items" type="button" class="btn btn-default btn-xs"
							        ng-click="changeAllItemSelection(selectedItems.rows,true)">
								<span class="glyphicon glyphicon-check"></span>
							</button>
							<button id="btn-unselect-all-selected-items" type="button" class="btn btn-default btn-xs"
							        ng-click="changeAllItemSelection(selectedItems.rows,false)">
								<span class="glyphicon glyphicon-unchecked"></span>
							</button>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-body spectrum-selector-panel">
				<spectrum-table id="tb-spec-selector-selected-{{id}}"
				                headings="displayFields"
				                rows="selectedItems.rows"
				                orderable-columns="selectedItems.orderableColumns"
				                order-by-initial="name"
				                order-reverse-initial="false"
				                empty-message="No items found"
				                popover-rules="displayOptions"
				                filterable="true"
				                filterable-columns="selectedItems.filterableColumns"
				                filter-prompt="Search..."
				                filter-applied="selectedItems.filterApplied"
				                update-in-progress="selectedItems.updateInProgress"
				                row-description-plural="items"
				                is-selector-table="true"
				                update-action-buttons="updateButtonState"
				                double-click-function="remove">
				</spectrum-table>
			</div>
		</div>
	</div>
</div>